<div  class="profile-content">
  <ion-card class="input-card">
    <ion-card-content>
      <div class="container">
        <h1 class="heading">👤 Actualizar Información</h1>
        <p class="para">Actualice los datos de su perfil personal</p>

        <form [formGroup]="userForm" (ngSubmit)="onSave()">
          
          <!-- Nombre -->
          <fac-input 
            formControlName="name" 
            label="Nombre" 
            type="text" 
            placeholder="John" 
            icon="person">
          </fac-input>

          <!-- Apellido -->
          <fac-input 
            formControlName="lastname" 
            label="Apellido" 
            type="text" 
            placeholder="Doe" 
            icon="person">
          </fac-input>

          <!-- Usuario -->
          <fac-input 
            formControlName="username" 
            label="Usuario" 
            type="text" 
            placeholder="john_doe" 
            icon="at">
          </fac-input>

          <!-- Correo -->
          <fac-input 
            formControlName="email" 
            label="Correo Electrónico" 
            type="email" 
            placeholder="correo@ejemplo.com" 
            icon="mail">
          </fac-input>

          <!-- Apodo -->
          <fac-input 
            formControlName="nickname" 
            label="Apodo" 
            type="text" 
            placeholder="Johnny" 
            icon="star">
          </fac-input>

          <!-- Fecha de nacimiento -->
          <fac-date 
            formControlName="birth" 
            label="Fecha de Nacimiento" 
            icon="calendar">
          </fac-date>

          <!-- NIT -->
          <fac-input 
            formControlName="nit" 
            label="NIT" 
            type="number" 
            placeholder="1234567890" 
            icon="barcode">
          </fac-input>

          <!-- Teléfono -->
          <fac-input 
            formControlName="phones" 
            label="Teléfono" 
            type="text" 
            placeholder="1234567890" 
            icon="call">
          </fac-input>

          <!-- Género -->
          <fac-radio 
            label="Género" 
            icon="male-female" 
            [options]="genderOptions" 
            formControlName="gender">
          </fac-radio>

          <!-- Botón Guardar -->
          <fac-btn 
            label="Guardar Cambios" 
            color="primary" 
            customClass="primary-btn" 
            expand="block" 
            type="submit"
            [disabled]="isDisabled"
            (clicked)="onSave()">
          </fac-btn>

        </form>
      </div>
    </ion-card-content>
  </ion-card>
</div>
