<ion-content [fullscreen]="true">
  <ion-card class="input-card">
    <ion-card-content>
      <ion-toolbar>
        <ion-title>✏️ Actualizar Información Personal</ion-title>
      </ion-toolbar>

      <form [formGroup]="userForm" (ngSubmit)="onSave()">
        <!-- Nombre -->
        <app-input formControlName="name" label="Nombre" type="text" placeholder="John" icon="person"></app-input>

        <!-- Apellido -->
        <app-input formControlName="lastname" label="Apellido" type="text" placeholder="Doe" icon="person"></app-input>

        <!-- Nombre de usuario -->
        <app-input formControlName="username" label="Usuario" type="text" placeholder="john_doe" icon="at"></app-input>

        <!-- Email -->
        <app-input formControlName="email" label="Correo Electrónico" type="email" placeholder="correo@ejemplo.com"
          icon="mail"></app-input>

        <!-- Nickname -->
        <app-input formControlName="nickname" label="Apodo" type="text" placeholder="Johnny" icon="star"></app-input>

        <!-- Fecha de Nacimiento -->
        <app-input-date formControlName="birth" label="Fecha de Nacimiento" type="date"
          icon="calendar"></app-input-date>

        <!-- NIT -->
        <app-input formControlName="nit" label="NIT" type="text" placeholder="1234567890" icon="barcode"></app-input>

        <!-- Teléfono -->
        <app-input formControlName="phones" label="Teléfono" type="text" placeholder="1234567890"
          icon="call"></app-input>

        <!-- Género -->
        <app-input-radio label="Género" icon="male-female" [options]="genderOptions" formControlName="gender">
        </app-input-radio>

        <!-- Botón Guardar -->
        <app-btn label="Guardar Cambios" color="primary" customClass="primary-btn" expand="block" type="submit"
          [disabled]="userForm.invalid">
        </app-btn>
        
        <ion-footer class="ion-no-border"> <ion-toolbar> <ion-title></ion-title> </ion-toolbar> </ion-footer>
        <ion-footer class="ion-no-border"> <ion-toolbar> <ion-title></ion-title> </ion-toolbar> </ion-footer>
        <ion-footer class="ion-no-border"> <ion-toolbar> <ion-title></ion-title> </ion-toolbar> </ion-footer>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>