

  <form [formGroup]="loginForm" class="login-card">

    <fac-input
      label="Correo"
      placeholder="Username / Email"
      icon="mail-outline"
      type="text"
      formControlName="users">
    </fac-input>

    <fac-input
      label="Contraseña"
      placeholder="Password"
      icon="lock-closed-outline"
      type="password"
      formControlName="password">
    </fac-input>

    <div class="forgot-text">
      <a (click)="forgotPassword('password')">Forgot Password?</a>
    </div>

    <ion-button expand="block" class="login-button" type="submit" (click)="login()">LOGIN</ion-button>

    <div class="register-text">
      Don’t have an Account? <a (click)="register('register')">Register</a>
    </div>
  </form>
