<ion-content [fullscreen]="true">
  <ion-card class="input-card">
    <ion-card-content>
      <div class="container">
        <h1 class="heading">👋 Welcome</h1>
        <p class="para">Sign in to continue!</p>

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

          <app-input formControlName="email" label="Email" type="email" placeholder="name@domain.com" icon="mail">
          </app-input>

          <app-input formControlName="password" label="Password" type="password" placeholder="*******"
            icon="lock-closed">
          </app-input>




          <app-btn 
          label="Login" 
          color="primary" 
          customClass="primary-btn" 
          expand="block"
          type="submit"
        
          (clicked)="onLogin()">  
        </app-btn>


        <p class="error-text" *ngIf="errorMessage">{{ errorMessage }}</p>

        <p class="forget-text"><a href="#">Forgot Password?</a></p>
        <br>
        <p class="signup-text" [routerLink]="['/auth/register']">
          I'm a new user&nbsp;
          <a >Sign Up?</a>
        </p>


        </form>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>


<!-- 

        <p class="forget-text"><a href="#">Forgot Password?</a></p>
          <p class="signup-text">I'm a new user&nbsp;<a href="#">Sign Up?</a></p>
         <app-btn label="Google Signin" icon="logo-google" color="light" customClass="google-btn" expand="block"></app-btn>
<ion-content [fullscreen]="true">
  <ion-card class="input-card">
    <ion-card-content>
      <div class="container">
        <h1 class="heading">👋 Welcome<br><br></h1>
        <p class="para">Sign in to continue!</p>
        <form>
        
          <app-input label="Email Id" type="email" placeholder="name@domain.com" icon="mail"></app-input>


          <app-input label="Password" type="password" placeholder="*******" icon="lock-closed"></app-input>


 

        
          <app-btn label="Login" color="primary" customClass="primary-btn" expand="block"></app-btn>

          
        </form>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer color="white">
  <ion-toolbar>
    <p class="copyright">Crafted in ❤️ by&nbsp;<a href="#">Adenwalla</a></p>
  </ion-toolbar>
</ion-footer> -->