<fieldset class="input-item" [ngClass]="{'has-error': hasError}">
  <legend *ngIf="label">{{ label }}</legend>
  <ion-item class="custom-input">
    <ion-icon *ngIf="icon" slot="start" [name]="icon"></ion-icon>
    <ion-input 
      [type]="(type === 'password' && !isPasswordVisible) ? 'password' : type"
      [placeholder]="placeholder"
      [(ngModel)]="value"
      (ionInput)="onInputChange($event)"
      [disabled]="disabled">
    </ion-input>
    <ion-icon 
      *ngIf="type === 'password'" 
      slot="end" 
      [name]="isPasswordVisible ? 'eye-off' : 'eye'" 
      (click)="togglePasswordVisibility()">
    </ion-icon>
  </ion-item>
</fieldset>
