<ion-header>
  <ion-toolbar>
    <ion-searchbar animated="true" placeholder="Buscar ubicación..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding no-scroll">
  <!-- Otro contenido arriba si lo deseas -->
</ion-content>

<!-- Mapa abajo ocupando media pantalla -->
<!-- Mapa fijo abajo -->
<div [ngClass]="{ 'map-bottom': !isFullScreen, 'map-fullscreen': isFullScreen }">
  <app-maps></app-maps>

  <ion-button expand="block" size="small" class="fullscreen-btn" (click)="toggleMapFullscreen()">
    {{ isFullScreen ? 'Salir de pantalla completa' : 'Pantalla Completa' }}
  </ion-button>
</div>


<!-- <ion-content>
  <google-map
    height="400px"
    width="100%"
    [center]="{ lat: latitude, lng: longitude }"
    [zoom]="15">
    <map-marker [position]="{ lat: latitude, lng: longitude }" [label]="'Mi Ubicación'"></map-marker>
  </google-map>
</ion-content> -->
<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header>
</ion-content> -->
