
<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title>administratorForm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-segment (ionChange)="segmentChanged($event)">
  <ion-segment-button value="first" content-id="first"  *ngIf="!(userValidate == false && addressValidate==false)">
    <ion-label>Actualiza datos personales</ion-label>
  </ion-segment-button>

  <ion-segment-button value="register" content-id="provider"   [class.disabled-segment]="userValidate || addressValidate">
    <ion-label>Registrar Proveedor</ion-label>
  </ion-segment-button>

  <ion-segment-button value="addressProvider" content-id="provider"  [class.disabled-segment]="userValidate || addressValidate">
    <ion-label>registra direccion </ion-label>
  </ion-segment-button>
  
</ion-segment>
<ion-segment-view>


  <ion-segment-content id="first"  *ngIf="!(userValidate == false && addressValidate==false)">
    <ion-segment>
      <ion-segment-button value="usersId" content-id="usersId"  *ngIf="userValidate">
        <ion-label>Usuarios</ion-label>
      </ion-segment-button>
      <ion-segment-button value="addressId" content-id="addressId" *ngIf="addressValidate" [class.disabled-segment]="userValidate " >
        <ion-label>direccion</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-segment-view>

      <ion-segment-content id="usersId"  *ngIf="userValidate">

        <app-update-users-information 
         *ngIf="validateUsers"
         [userForm]="userForm"
       
         [genderOptions]="genderOptions"
         (userSaved)="onUserSaved($event)">
         </app-update-users-information>
      </ion-segment-content>

      <ion-segment-content id="addressId" *ngIf="addressValidate">
        <ion-segment-content id="second">
          <app-address-form *ngIf="validate"
          [addressForm]="addressForm"
          [propertyType]="propertyType"
          [isDisabled]="false"
          (addressSaved)="onAddressSaved($event)">
        </app-address-form>
        </ion-segment-content>


      </ion-segment-content>

    </ion-segment-view>
  </ion-segment-content>



  
  <ion-segment-content id="provider" *ngIf="selectedSegment === 'register'" >
    <!-- <app-services-form></app-services-form> -->
    <app-provider-form
    [providerForm]="providerForm"
    [isDisabled]="false"
    [independent]="independent"
    (providerSaved)="onSegmentChanger($event,1)"
    >
    </app-provider-form> 
  </ion-segment-content>
  <ion-segment-content id="provider"  *ngIf="selectedSegment === 'addressProvider'">      
        <app-address-form *ngIf="validate"
    [addressForm]="addressProviderForm"
    [propertyType]="propertyType"
    [isDisabled]="addProveder"
    (addressSaved)="onSegmentChanger($event,2)">
  </app-address-form>
  </ion-segment-content>
</ion-segment-view>


