
<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title>administratorForm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-segment>
  <ion-segment-button value="first" content-id="first"  *ngIf="!(userValidate == false && addressValidate==false)">
    <ion-label>Actualiza datos personales</ion-label>
  </ion-segment-button>
  <ion-segment-button value="second" content-id="second"   [class.disabled-segment]="userValidate || addressValidate">
    <ion-label>Second</ion-label>
  </ion-segment-button>
  <ion-segment-button value="third" content-id="third"  [class.disabled-segment]="userValidate || addressValidate">
    <ion-label>Third</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-segment-view>


  <ion-segment-content id="first"  *ngIf="!(userValidate == false && addressValidate==false)">
    <ion-segment>
      <ion-segment-button value="usersId" content-id="usersId"  *ngIf="userValidate">
        <ion-label>First</ion-label>
      </ion-segment-button>
      <ion-segment-button value="addressId" content-id="addressId" *ngIf="addressValidate" [class.disabled-segment]="userValidate " >
        <ion-label>Second</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-segment-view>

      <ion-segment-content id="usersId"  *ngIf="userValidate">

        <app-update-users-information 
        *ngIf="validateUsers"
        [userForm]="userForm"
       
        [genderOptions]="genderOptions"
        (userSaved)="onUserSaved($event)">
      </app-update-users-information>
      </ion-segment-content>

      <ion-segment-content id="addressId" *ngIf="addressValidate">
        <ion-segment-content id="second">
          <app-address-form *ngIf="validate"
          [addressForm]="addressForm"
          [propertyType]="propertyType"
          [isDisabled]="false"
          (addressSaved)="onAddressSaved($event)">
        </app-address-form>
        </ion-segment-content>


      </ion-segment-content>

    </ion-segment-view>
   


  </ion-segment-content>
  <ion-segment-content id="second" >
    <app-provider-form
    [providerForm]="providerForm"
    [isDisabled]="false"
    (providerSaved)="onProviderSaved($event)"
    >
    </app-provider-form>
  </ion-segment-content>
  <ion-segment-content id="third">Third</ion-segment-content>
</ion-segment-view>


