<ion-content [fullscreen]="true">
  <ion-card class="input-card">
    <ion-card-content>
       <fac-btn 
      label="Crear" 
      color="primary" 
      customClass="primary-btn" 
      expand="block"
      type="submit"
      (clicked)="url(null)"
    > </fac-btn> 
    <br>
      <div class="container">
  
        <fac-item-list  (clicked)="url($event)" [items]="servicesList" [valueOptional]="'name'" [valueOptionalP]="'providers.name'"> </fac-item-list>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>