:host {
    display: block;
    height: 100vh; // Asegura que la página ocupa toda la altura de la pantalla
  }
  
  .quote-content {
    --padding-top: env(safe-area-inset-top, 0);
    --padding-bottom: env(safe-area-inset-bottom, 0);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; // Permite desplazamiento si el contenido es muy largo
  }
  
  .quote-card {
    width: 80%;
    max-width: 400px;
    text-align: center;
    padding: 16px;
    border-left: 5px solid var(--ion-color-primary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  