<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Quote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="quote-content">

  <!-- Dropdown de filtro -->
  <ion-item>
    <ion-label>Filtrar cursos</ion-label>
    <ion-select [(ngModel)]="filtroSeleccionado" interface="popover">
      <ion-select-option value="proxima">Curso próxima</ion-select-option>
      <ion-select-option value="en_curso">Curso en curso</ion-select-option>
      <ion-select-option value="pasada">Curso pasada</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Lista deslizable de cursos -->
  <ion-list>
    <ion-item-sliding *ngFor="let curso of cursosFiltrados()">

      <!-- Acciones al deslizar hacia la derecha -->
      <ion-item-options side="start">
        <ion-item-option color="success" (click)="editarCurso(curso)">Editar</ion-item-option>
      </ion-item-options>

      <!-- Acciones al deslizar hacia la izquierda -->
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminarCurso(curso)">Eliminar</ion-item-option>
      </ion-item-options>

      <!-- Contenido personalizado -->
      <ion-item lines="none">
        <ion-card class="quote-card">
          <ion-card-content [ngClass]="curso.estado">
            <blockquote>"{{ curso.descripcion }}"</blockquote>
            <p class="author">- {{ curso.nombre }} ({{ curso.fecha }})</p>
          </ion-card-content>
        </ion-card>
      </ion-item>

    </ion-item-sliding>
  </ion-list>

</ion-content>

