<ion-button
  class="native-button"
  [ngClass]="[customClass, 'size-' + size, loading ? 'is-loading' : '']"
  [color]="color"
  [fill]="fill"
  [expand]="expandValue"
  [disabled]="disabled || loading"
  [attr.type]="type"
  [attr.aria-busy]="loading"
  [attr.aria-disabled]="disabled || loading ? true : null"
  (click)="onClick()"
  shape="round"
>
  <ion-icon *ngIf="icon && !loading" [name]="icon" slot="start"></ion-icon>
  <ion-spinner *ngIf="loading" slot="start"></ion-spinner>
  <span class="label">{{ label }}</span>
  <ion-icon *ngIf="iconEnd && !loading" [name]="iconEnd" slot="end"></ion-icon>
</ion-button>
