<!-- navigation.page.html -->
<ion-tabs>


  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button
      *ngFor="let item of tabItems"
      [tab]="item.tab"
      [routerLink]="item.link"
      routerDirection="root"
      class="custom-tab-button"
    >
      <ion-icon [name]="item.icon" class="tab-icon" aria-hidden="true"></ion-icon>
      <ion-label class="tab-label">{{ item.label }}</ion-label>

      <!-- opcional: badge -->
      <ion-badge *ngIf="item.badge" class="tab-badge">{{ item.badge }}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
