<form [formGroup]="registerForm" class="login-card">

  <fac-input
    label="Nombre"
    placeholder="Nombre"
    icon="person-outline"
    type="text"
    formControlName="name">
  </fac-input>

  <fac-input
    label="Apellido"
    placeholder="Apellido"
    icon="person-outline"
    type="text"
    formControlName="lastname">
  </fac-input>

  <fac-input
    label="Correo electrónico"
    placeholder="Correo electrónico"
    icon="mail-outline"
    type="email"
    formControlName="email">
  </fac-input>

  <fac-input
    label="Contraseña"
    placeholder="Contraseña"
    icon="lock-closed-outline"
    type="password"
    formControlName="password">
  </fac-input>

  <fac-input
    label="Confirmar contraseña"
    placeholder="Confirmar contraseña"
    icon="lock-closed-outline"
    type="password"
    formControlName="confirmPassword">
  </fac-input>

  <fac-input
    label="Fecha de nacimiento"
    placeholder="Fecha de nacimiento"
    icon="calendar-outline"
    type="date"
    formControlName="birth">
  </fac-input>
  <fac-radio
    label="Género"
    icon="male-female-outline"
    formControlName="gender"
    [options]="genderOptions">
  </fac-radio>
  <ion-button expand="block" class="login-button" type="submit" (click)="submitRegister()">
    REGISTRARSE
  </ion-button>

  <div class="register-text">
    ¿Ya tienes una cuenta? <a (click)="goToLogin()">Iniciar sesión</a>
  </div>
</form>
