<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding center-avatar">
  <ion-title><ion-avatar class="avatar-size  center-avatarC">
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />

  </ion-avatar>
 {{data.name}}  {{data.username}}
</ion-title>
<samp>uiid:{{data.uiid}} </samp>
  <!-- Menú Personalizado -->
  <div class="custom-menu" [class.open]="menuOpen">
    <ion-list>
      <ng-container *ngFor="let item of menuItems">
        <!-- Elementos principales del menú -->
        <ion-item *ngIf="item.link" button [routerLink]="item.link">
          <ion-icon slot="start" [name]="item.icon"></ion-icon>
          <ion-label>{{ item.label }}</ion-label>
        </ion-item>
  
        <ion-accordion-group *ngIf="!item.link">
          <ion-accordion [value]="item.label">
            <ion-item slot="header">
              <ion-icon slot="start" [name]="item.icon"></ion-icon>
              <ion-label>{{ item.label }}</ion-label>
            </ion-item>
            <div slot="content">
              <ion-list>
                <ion-item *ngFor="let subItem of item.item" button [routerLink]="subItem.link">
                  <ion-icon slot="start" [name]="subItem.icon"></ion-icon>
                  <ion-label>{{ subItem.label }}</ion-label>
                </ion-item>
              </ion-list>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ng-container>
    </ion-list>
  </div>
  
  

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-item button (click)="logout()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Cerrar Sesión</ion-label>
    </ion-item>
    <ion-title></ion-title>
  </ion-toolbar>
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
</ion-footer>