<ion-content class="ion-padding">

  <!-- Perfil centrado -->
  <div class="profile-container">
    <ion-avatar class="avatar-large">
      <img src="https://picsum.photos/600/300?random=18" alt="Avatar" />
    </ion-avatar>
    <h2 class="name"> {{data?.name}}  {{data?.lastname}}</h2>
    <p class="username">uiid:{{data?.uiid}}</p>
  </div>

  <!-- Botones tipo segmento -->
  <ion-segment value="profile-options" class="profile-segment" mode="md">
    <ion-segment-button value="privacy">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-label>Privacidad</ion-label>
    </ion-segment-button>
    <ion-segment-button value="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-segment-button>
    <ion-segment-button value="contacts">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Contactos</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Lista de configuraciones -->
  <ion-list class="menu-list">
    <ion-item *ngFor="let item of menuItems" [routerLink]="item.link">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      <ion-label>{{ item.label }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<!-- Footer fijo para cerrar sesión -->
<ion-footer class="logout-footer">
  <ion-item lines="none" (click)="logout()" button class="logout-button">
    <ion-icon name="log-out-outline" slot="start" class="logout-icon"></ion-icon>
    <ion-label class="logout-text">Cerrar sesión</ion-label>
  </ion-item>
</ion-footer>

