<!-- src/app/features/home/home.page.html -->
<ion-content [fullscreen]="true" (ionScroll)="onScroll($event)" scrollEvents="true">
  <div class="scrollable-header" [ngStyle]="{'opacity': headerOpacity, 'transform': 'translateY(' + headerOffset + 'px)'}">
    <ion-header>
      <ion-toolbar class="toolbar-with-icon">
        <div class="toolbar-container">
          <ion-title class="centered-title">Facilistap</ion-title>
          <ion-button fill="clear" routerLink="/navigation/search" routerDirection="root" class="icon-button">
            <ion-icon name="search" class="clickable-icon"></ion-icon>
          </ion-button>
        </div>
      </ion-toolbar>
    </ion-header>


    <fac-category 
      [items]="categoryAll" 
      [slidesPerView]="3" 
      [spaceBetween]="8" 
      [loop]="true" 
      [navigation]="true"
      (categoryEvent)="onCategory($event)"
      >
    </fac-category>
    <fac-subcategory 
    [items]="subCategory" 
    [slidesPerView]="3" 
    [spaceBetween]="8" 
    [loop]="true" 
    [navigation]="true"
    (subCategoryEvent)="onSubCategory($event)"
    >
  </fac-subcategory>
  </div>
  <div class="cards-container">
    <fac-card
      *ngFor="let item of items"
      [imageUrl]="item.imageUrl"
      [title]="item.servicename"
      [description]="item.subcategorynames"
      [distance] = "item.distance"
      [location]="`${item.city.cityName} ${item.city.stateCountries.stateName} ${item.city.stateCountries.countries.countryName}`"
      [showInfoIcon]="true"
      [showLocationIcon]="true">
    </fac-card>
  </div>
  <!-- <div class="cards-container">
    <fac-card
      *ngFor="let item of exampleData"
      [imageUrl]="item.imageUrl"
      [title]="item.title"
      [description]="item.description"
      [location]=" item.location "
      [showInfoIcon]="item.showInfoIcon"
      [showLocationIcon]="item.showLocationIcon">
    </fac-card>
  </div> -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
