<ion-content fullscreen class="login-content">

  <!-- Header azul con avatar -->
  <div class="login-header" [ngClass]="{ 'header-register': login === 'register' }">
    <img src="./../../../assets/icon/facilitap.png" alt="Avatar" />
    <ion-avatar class="login-avatar">
     
    </ion-avatar>
    <h1 class="welcome-text">WELCOME!!</h1>
  </div>

  <!-- Card dinámica con animación -->
  <div [ngClass]="login === 'register' ? 'register-card animate-slide-up' : 'login-card animate-slide-down'">
    <ng-container *ngIf="login === 'login'">
      <app-login (eventLogin)="eventLogin($event)"></app-login>
    </ng-container>

    <ng-container *ngIf="login === 'register'">
      <app-register (eventLogin)="eventLogin($event)"></app-register>
    </ng-container>
  </div>

</ion-content>
