<ion-header>
  <!-- iOS: título grande -->
  <ion-toolbar class="toolbar-main">
    <ion-title>Información Personal</ion-title>
  </ion-toolbar>

  <!-- iOS: título grande al colapsar -->
  <!-- <ion-toolbar collapse="condense" class="toolbar-condense">
    <ion-title size="large">Información Personal</ion-title>
  </ion-toolbar> -->

  <!-- Tabs/Segment bajo el header -->
  <ion-toolbar class="toolbar-segment">
    <ion-segment [(ngModel)]="segmentValue" class="tab-segment">
      <ion-segment-button value="first">
        <ion-icon name="create-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
      <ion-segment-button value="second">
        <ion-icon name="navigate-outline"></ion-icon>
        <ion-label>Dirección</ion-label>
      </ion-segment-button>
      <ion-segment-button value="third">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-label>Seguridad</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="profile-content">
  <div [ngSwitch]="segmentValue" class="tab-content">
    <!-- Información -->
    <ng-container *ngSwitchCase="'first'">
      <app-update-users-information 
        *ngIf="validateUsers"
        [userForm]="userForm"
        [isDisabled]="userForm.invalid"
        [genderOptions]="genderOptions"
        (userSaved)="onUserSaved($event)">
      </app-update-users-information>
    </ng-container>

    <!-- Dirección -->
    <ng-container *ngSwitchCase="'second'">
      <app-address-form 
        *ngIf="validate"
        [addressForm]="addressForm"
        [propertyType]="propertyType"
        [isDisabled]="false"
        (addressSaved)="onAddressSaved($event)">
      </app-address-form>
    </ng-container>

    <!-- Credenciales -->
    <ng-container *ngSwitchCase="'third'">
      <app-update-users-credentials></app-update-users-credentials>
    </ng-container>
  </div>
</ion-content>
