<ion-content [fullscreen]="true">
  <ion-card class="input-card">
    <ion-card-content>
      <div class="container">
        <h1 class="heading">🏢 Registrar Proveedor</h1>
        <p class="para">Ingrese la información del proveedor</p>

        <form [formGroup]="providerForm" (ngSubmit)="saveProvider()">
          <fac-input 
            formControlName="name" 
            label="Nombre" 
            type="text" 
            placeholder="Ingrese el nombre del proveedor" 
            icon="person">
          </fac-input>

        <fac-input 
            formControlName="email" 
            label="Correo Electrónico" 
            type="email" 
            placeholder="ejemplo@correo.com" 
            icon="mail">
          </fac-input>

          <fac-input 
            formControlName="phone" 
            label="Teléfono" 
            type="tel" 
            placeholder="+57 321 1234567" 
            icon="call">
       </fac-input>
  
          <fac-input 
            formControlName="img" 
            label="Imagen URL" 
            type="url" 
            placeholder="https://example.com/logo.png" 
            icon="image">
          </fac-input>

          <fac-input 
            formControlName="website" 
            label="Sitio Web" 
            type="url" 
            placeholder="https://example.com" 
            icon="globe">
          </fac-input>
  
          <fac-input 
            formControlName="nit" 
            label="NIT" 
            type="number" 
            placeholder="Ingrese el NIT" 
            icon="business">
          </fac-input>

          <fac-input 
            formControlName="invima" 
            label="Invima" 
            placeholder="Ingrese el código Invima" 
            icon="clipboard">
          </fac-input>
 
          <fac-input 
            formControlName="companyIdentifier" 
            label="Identificador de Empresa" 
            placeholder="Ingrese el identificador" 
            icon="pricetag">
          </fac-input>

          <fac-input 
            formControlName="logoUrl" 
            label="Logo URL" 
            type="url" 
            placeholder="https://example.com/logo.png" 
            icon="image">
          </fac-input>

          <fac-textarea 
            formControlName="description" 
            label="Descripción" 
            placeholder="Ingrese una descripción" 
            icon="document-text">
          </fac-textarea> 

          <!-- <fac-select 
            formControlName="status" 
            label="Estado" 
            placeholder="Seleccione el estado" 
            icon="toggle" 
            [options]="statusOptions">
          </fac-select>

          <fac-select 
            formControlName="category" 
            label="Categoría" 
            placeholder="Seleccione la categoría" 
            icon="list" 
            [options]="categoryOptions">
          </fac-select> -->

          <!-- <fac-input 
            formControlName="rating" 
            label="Calificación" 
            type="number" 
            placeholder="Ingrese la calificación (1-5)" 
            icon="star">
          </fac-input> -->
          <br>
          <p> --
       
            <ion-list [inset]="true">
              <ion-item [button]="true" [detail]="false" id="select-fruits">
                <ion-label>Favorite Fruits</ion-label>
                <div slot="end" id="selected-fruits">{{ selectedFruitsText }}</div>
              </ion-item>
            </ion-list>
    
          
           <ion-modal trigger="select-fruits" #modal>
            <ng-template>
              <fac-modal-select
                class="ion-page"
                title="Favorite Fruits"
                [items]="selectModal"
                [textField]="'name'"
                [valueField]="'id'"
                [selectedItems]="selectedFruits"
                (selectionChange)="fruitSelectionChanged($event)"
                (selectionCancel)="modal.dismiss()"
              ></fac-modal-select> 
            </ng-template>
          </ion-modal> 
        </p>

          <fac-btn 
          label="Registrar" 
          color="primary" 
          customClass="primary-btn" 
          expand="block"
          type="submit"
   
          (clicked)="saveProvider()"> 
        </fac-btn>
        
        <ion-footer class="ion-no-border">
          <ion-toolbar>
            <ion-title></ion-title>
          </ion-toolbar>
        </ion-footer>
        <ion-footer class="ion-no-border">
          <ion-toolbar>
            <ion-title></ion-title>
          </ion-toolbar>
        </ion-footer>
        </form>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
