<fieldset class="input-item" [ngClass]="{ 'has-error': hasError }">
  <legend *ngIf="label">{{ label }}</legend>
  <ion-radio-group [(ngModel)]="value" (ionChange)="selectValue($event.detail.value)">
    <ion-item
      class="custom-radio"
      *ngFor="let option of options"
      lines="none"
      [disabled]="disabled"
    >
      <ion-icon *ngIf="icon" [name]="icon" slot="start"></ion-icon>
      <ion-label>{{ option.label }}</ion-label>
      <ion-radio slot="end" [value]="option.value"></ion-radio>
    </ion-item>
  </ion-radio-group>
</fieldset>
