<!-- MODO SELECT NORMAL (action-sheet iOS / alert Android) -->
<fieldset class="fac-field" [class.has-error]="hasError" *ngIf="!selectModal">
  <legend *ngIf="label">{{ label }}</legend>

  <ion-item class="field-item custom-select" lines="none">
    <ion-icon *ngIf="icon" slot="start" [name]="icon" aria-hidden="true"></ion-icon>

    <ion-select
      class="select-el"
      [placeholder]="placeholder"
      [(ngModel)]="value"
      (ionChange)="onSelectionChange($event)"
      [disabled]="disabled"
      [interface]="selectInterface"
      [interfaceOptions]="{ header: label || title }">
      <ion-select-option *ngFor="let option of items" [value]="option[valueField]">
        {{ option[labelField] }}
      </ion-select-option>
    </ion-select>

    <!-- chevron visual (no funcional) -->
    <ion-icon slot="end" name="chevron-down-outline" class="chevron"></ion-icon>
  </ion-item>

  <div class="hint-row">
    <ion-note class="error" *ngIf="hasError">{{ errorText || defaultError }}</ion-note>
  </div>
</fieldset>

<!-- MODO MODAL PERSONALIZADO -->
<fieldset class="fac-field" [class.has-error]="hasError" *ngIf="selectModal">
  <legend *ngIf="label">{{ label }}</legend>

  <ion-item class="field-item custom-select" button id="select-modal-trigger" lines="none">
    <ion-icon *ngIf="icon" slot="start" [name]="icon" aria-hidden="true"></ion-icon>
    <ion-label class="select-value">{{ selectedText || placeholder }}</ion-label>
    <ion-icon slot="end" name="chevron-down-outline" class="chevron"></ion-icon>
  </ion-item>
</fieldset>

<ion-modal trigger="select-modal-trigger" #modal *ngIf="selectModal">
  <ng-template>
    <fac-modal-select
      class="ion-page"
      [title]="title"
      [items]="items"
      [textField]="labelField"
      [valueField]="valueField"
      [selectedItems]="selectedItems"
      (selectionChange)="onSelectionChangeModal($event)"
      (selectionCancel)="modal.dismiss()">
    </fac-modal-select>
  </ng-template>
</ion-modal>
